* {
  border: solid 1px red;
}

body {
  min-height: 97vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#calculator {
  width: 400px;
  height: 500px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

#screen {
  width: 350px;
  height: 70px;
  margin: 23px;
}

#buttons {
  height: 380px;
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
}

.buttons {
  height: 55px;
  width: 74px;
}
